<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <header class="main-header">
      <h1 class="add-home-heading">Here are your Favorites:</h1>
      <a href="/" class="nav-logo">Back To Home</a>
    </header>

    <main>
      <ul class="home-list">
        <% favoriteHomes.forEach(home => { %>
        <li class="home-item">
          <div class="home-card">
            <img
              src="<%= home.photo %>"
              alt="<%= home.houseName %>"
              class="home-photo"
            />

            <div class="home-info">
              <h2 class="home-title">Name: <%= home.houseName %></h2>
              <p class="home-location">📍Place: <%= home.location %></p>
              <p class="home-price">
                💰Price: ₹<%= home.pricePerNight %> / night
              </p>
              <p class="home-rating">⭐Rating: <%= home.rating %> Out of 5</p>
              <form action="/favorites/delete/<%= home._id %>" method="post">
                <button class="delete-btn" type="submit">
                  Remove From Favorites
                </button>
              </form>
            </div>
          </div>
        </li>
        <% }); %>
      </ul>
    </main>
  </body>
</html>
